node_modules
**/node_modules
.git
.firebase
firestore-debug.log
ui-debug.log
npm-debug.log
.DS_Store
apps/frontend/dist
apps/frontend/.env
apps/backend/*firebase-adminsdk*.json
apps/backend/*service-account*.json
